<hivemq-postgresql-extension xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                             xsi:noNamespaceSchemaLocation="config.xsd">

<!-- Custom-PG-config.xml -->

    <postgresqls>
        <postgresql>
            <id>my-postgresql-id</id>
            <host>postgres_db</host>
            <port>5432</port>
            <database>hivemq_ESE</database>
            <username>hivemq</username>
            <password>secretpassword</password>
        </postgresql>
    </postgresqls>


<!-- ESE creds :
                <db-type>POSTGRES</db-type>
                <db-name>hivemq_ESE</db-name> 
                <db-host>postgres_db</db-host> 
                <db-port>5432</db-port>
                <db-username>hivemq</db-username> 
                <db-password>secretpassword</db-password>     
-->


    <mqtt-to-postgresql-routes>


        <!-- insert every message using the STATEMENT TEMPLATE processor -->
        <mqtt-to-postgresql-route>
            <id>my-mqtt-to-postgresql-route-template</id>
            <postgresql-id>my-postgresql-id</postgresql-id>
            <mqtt-topic-filters>
                <mqtt-topic-filter>Temp-TS/#</mqtt-topic-filter>
            </mqtt-topic-filters>
            <processor>
                <statement-template>conf/statement.sql</statement-template>
            </processor>
        </mqtt-to-postgresql-route>

    </mqtt-to-postgresql-routes>
</hivemq-postgresql-extension>